<h2>Blogs and Notes</h2>
<div class="item__content">
    <span class="item__meta">Jul 21</span>
    <a itemprop="headline" class="item__header" href="https://shan101.medium.com/hi-github-copilot-chatting-with-the-ai-pair-programmer-9d95ae81ae5f">Hi GitHub CoPilot! -Chatting with the AI pair programmer</a>
</div>
<div class="item__content">
    <span class="item__meta">Jul 21</span>
    <a itemprop="headline" class="item__header" href="https://shan101.medium.com/doodling-ai-man-is-to-computer-programmer-as-woman-is-to-homemaker-ce5e3e2cdf2e">Doodling AI : Man is to Computer Programmer as Woman is to Homemaker?</a>
</div>
<div class="item__content">
    <span class="item__meta">Jul 21</span>
    <a itemprop="headline" class="item__header" href="https://shan101.medium.com/doodling-ai-crows-pairs-challenge-4c5d00c3f581">Doodling AI: CrowS-Pairs Challenge</a>
</div>