<h2>Projects</h2>
<div class="m-2">
    <div class="item">
        <div class="item__image">
        <img class="image image--sm" src="assets/images/my_images/dcgan.gif"/>
        </div>
        <div class="item__content">
        <div class="item__header">
            <h4><a href="https://github.com/ashantanu/DCGAN">DCGAN</a></h4>
        </div>
        <div class="item__description">
            <p>Pytorch implementation of Deep Generative Convolution Neural Network</p>
        </div>
        </div>
    </div>
</div>  
<div class="m-2">
    <div class="item">
        <div class="item__image">
        <img class="image image--sm" src="assets/images/my_images/dl_diamond.jpeg"/>
        </div>
        <div class="item__content">
        <div class="item__header">
            <h4><a href="https://github.com/ashantanu/DL_diamond_cutting">DL Diamond Cutting</a></h4>
        </div>
        <div class="item__description">
            <p>3D NN for suggesting placements of fine cut dimaond within a raw diamond in such a way that the fine cut diamond as minimum impurities</p>
        </div>
        </div>
    </div>
</div> 