<h2>Projects</h2>

<div class="m-2">
    <div class="item">
        <div class="item__image">
        <img class="image image--sm" src="assets/images/my_images/ego4d.png"/>
        <!--- 
            <a href="https://www.flaticon.com/free-animated-icons/hand" title="hand animated icons">Hand animated icons created by Freepik - Flaticon</a>
        --->
        </div>
        <div class="item__content">
        <div class="item__header">
            <h4><a href="https://github.com/subramanya1997/ego4d">Multimodal Multi-Task Learning for Ego4D</a></h4>
        </div>
        <div class="item__description">
            <p>Multimodal Multi-Task Learning for Natural Language Query task on Ego4D dataset.</p>
        </div>
        </div>
    </div>
</div>

<div class="m-2">
    <div class="item">
        <div class="item__image">
        <img class="image image--sm" src="assets/images/my_images/rise.gif"/>
        <!--- 
            <a href="https://www.flaticon.com/free-animated-icons/hand" title="hand animated icons">Hand animated icons created by Freepik - Flaticon</a>
        --->
        </div>
        <div class="item__content">
        <div class="item__header">
            <h4><a href="https://github.com/mrinaltak/HateSpeechDetection">Hate Speech Detection</a></h4>
        </div>
        <div class="item__description">
            <p>Prompt based Hate Speech deptection with BERT and T5 on HatEval and OffensEval.</p>
        </div>
        </div>
    </div>
</div>
<div class="m-2">
    <div class="item">
        <div class="item__image">
        <img class="image image--sm" src="assets/images/my_images/diamond.gif"/>
        <!--<a href="https://www.flaticon.com/free-animated-icons/diamond" title="hand animated icons">Hand animated icons created by Freepik - Flaticon</a>-->
        </div>
        <div class="item__content">
        <div class="item__header">
            <h4><a href="https://github.com/ashantanu/DL_diamond_cutting">DL Diamond Cutting</a></h4>
        </div>
        <div class="item__description">
            <p>3D NN for suggesting placements of fine cut dimaond within a raw diamond in such a way that the fine cut diamond as minimum impurities</p>
        </div>
        </div>
    </div>
</div>

<div class="m-2">
    <div class="item">
        <div class="item__image">
        <img class="image image--sm" src="assets/images/my_images/connection.gif"/>
        <!---
        <a href="https://www.flaticon.com/free-animated-icons/people" title="people animated icons">People animated icons created by Freepik - Flaticon</a>
        -->
        </div>
        <div class="item__content">
        <div class="item__header">
            <h4><a href="https://github.com/ChrisCameron1/LargeConferenceMatching">Large Conference Matching</a></h4>
        </div>
        <div class="item__description">
            <p>Matching papers and reviewers at large conferences.</p>
        </div>
        </div>
    </div>
</div>

<div class="m-2">
    <div class="item">
        <div class="item__image">
        <img class="image image--sm" src="assets/images/my_images/dcgan.gif"/>
        </div>
        <div class="item__content">
        <div class="item__header">
            <h4><a href="https://github.com/ashantanu/DCGAN">DCGAN</a></h4>
        </div>
        <div class="item__description">
            <p>Pytorch implementation of Deep Generative Convolution Neural Network</p>
        </div>
        </div>
    </div>
</div>